<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Website</title>
</head>
<body>
    <br>
    <h4>Welcome to XYZ</h4>
    <br>
    <form action="" method="post">
        Username : <input type="text" name="username" id="" required> <br><br>
        Password : <input type="password" name="password" id="" required> <br><br>
        <input type="submit" name="loginBtn" value="Login" id="">
    </form>
    <br>
    <form action="/register" method="">
        <input type="submit" name="signupBtn" value="Sign up" id="">
    </form>
</body>
</html>