<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <h3>REGISTRATION PAGE</h3>
    <form action="" method = "post">
        Firstname : <input type="text" name="regfirstname" id=""><br><br>
        Username : <input type="text" name="regUser" id=""><br><br>
        Password : <input type="password" name="regPass" id=""><br><br>
        Email : <input type="email" name="regEmail" id=""><br><br>
       <input type="submit" name="" value="Register" id=""><br><br>
    </form>
</body>
</html>